* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: poppins;
 }
 html {
    scroll-behavior: smooth;
    background-color: #d8cce7;
 }
 main {
   width: 100%;
   padding: 20px;
   margin: auto;
   margin-top: 100px;
 }
 .contenedor {
   width: 100%;
   max-width: 800px;
   margin: auto;
   position: relative;
 }
 .caja_principal {
   width: 100%;
   height: auto;
   padding: 10px 20px;
   display: flex;
   justify-content: center;
   backdrop-filter: blur(10px);
   background-color: rgb(139, 99, 177);
 }
 .caja_principal div {
   margin: 100px 40px;
   color: #fff;
   transition: all 500ms;
 }

.caja_principal div p,
.caja_principal div button {
   margin-top: 30px;
}
.caja_principal div h3 {
   font-weight: 400;
   font-size: 26px;
}
.caja_principal button {
   padding: 10px 40px;
   border: 2px solid #fff;
   background: transparent;
   font-size: 14px;
   font-weight: 600;
   cursor: pointer;
   color: #fff;
   outline: none;
   transition: all 300ms;
}
.caja_principal button:hover {
   background-color: #fff;
   color: rgb(139, 99, 177);
}
.contenedor_login-register {
   display: flex;
   align-items: center;
   width: 100%;
   max-width: 380px;
   position: relative;
   top: -230px;
   left: 10px;
   transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.contenedor_login-register form {
   width: 100%;
   padding: 80px 20px;
   background: #fff;
   position: absolute;
   border-radius: 20px;
   margin-bottom: 10px;
}
.contenedor_login-register form h2 {
   font-size: 30px;
   text-align: center;
   margin-bottom: 20px;
   color: rgb(139, 99, 177);
}
.contenedor_login-register form input {
   width: 100%;
   margin-top: 20px;
   padding: 10px;
   border: none;
   background: #f2f2f2;
   font-size: 16px;
   outline: none; /*sirve para quitar el borde 
   predefinido que pone Google en los formularios*/
   display: flex;
}
.contenedor_login-register form button {
   padding: 10px 40px;
   margin-top: 30px;
   border: none;
   font-size: 14px;
   background: rgb(139, 99, 177);
   color: #fff;
   cursor: pointer;
   outline: none;
}

.formulario_register #género {
   padding: 10px;
   margin-top: 30px;
   font-family: poppins;
   font-size: 16px;
   display: flex;
   outline: none;
   color: rgb(85, 60, 107);
   background-color: #fff;
   border-style: none;
}
.formulario_register #género option {
   color: rgb(54, 25, 68);
}
.formulario_login {
   opacity: 1;
   display: block;
}
.formulario_register {
   display: none;
}
.formulario_login span a {
   padding: 20px;
}

@media screen and (max-width: 850px) {
   main {
      margin-top: 50px;
   }
   .caja_principal {
      max-width: 350px;
      height: 300px;
      flex-direction: column;
      margin: auto;
   }
   .caja_principal div {
      margin: 0px;
      position: absolute;
   }

   .contenedor_login-register {
      top: -10px;
      left: -5px;
      margin: auto;
   }
   .contenedor_login-register form {
      position: relative;
   }
}