#Reseñas-Clientes {
    font-family: poppins;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.HeaderReseñas {
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.HeaderReseñas h2 {
    font-size: 2.2rem;
    font-weight: 500;
    background-color: rgb(64, 68, 116);
    color: #fff;
    padding: 10px 20px;
}
.HeaderReseñas h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.ReseñasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.Caja {
    width: 500px;
    box-shadow: 2px 2px 30px rgb(0,0,0,0.1);
    background-color: #fff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    border-radius: 10px;
}
.profile-imagen {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile {
    display: flex;
    align-items: center;
}
.nombre-usuario {
    display: flex;
    flex-direction: column;
}
.nombre-usuario strong {
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.nombre-usuario span {
    color: #979797;
    font-size: 0.8rem;
}
.reseñas {
    color: #f9d71c;
}
.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.comentario-cliente p{
    font-size: 0.9rem;
    color: #4b4b4b;
}
.Caja:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
@media(max-width:1060px){
    .Caja{
        width: 45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .Caja {
        width: 100%;
    }
    .HeaderReseñas h2 {
        font-size: 1.4rem;
    }
}
@media(max-width:340px) {
    .box-top {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reseñas {
        margin-top: 10px;
    }
}
::selection{
    color: #fff;
    background-color: #4b4b4b;
}
@media (max-width: 480px) {
    .HeaderReseñas h3 {
        font-size: 40px;
        margin-right: -380px;
    }
    .HeaderReseñas h2 {
        margin-right: -370px;
    }
    .Caja {
        margin-right: -200px;
        margin-left: 180px;
        flex-direction: column;
    }
}